<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martinez.developers_app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_cursos"
            android:label="@string/title_activity_menu_cursos"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Curso"
            android:label="@string/title_activity_curso"
            android:parentActivityName=".Menu_cursos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_cursos" />
        </activity>
        <activity
            android:name=".Acerca_de"
            android:label="@string/title_activity_acerca_de" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Acerca_de" />
        </activity>
        <activity
            android:name=".Usuarios"
            android:label="@string/title_activity_usuarios" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Usuarios" />
        </activity>
        <activity
            android:name=".tema"
            android:label="@string/title_activity_tema" >
        </activity>
        <activity
            android:name=".inicio"
            android:label="@string/title_activity_inicio" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".inicio_sesion"
            android:label="@string/title_activity_inicio_sesion" >
        </activity>
    </application>

</manifest>
